@using balasolu.ui.components.abstractions;
@using Microsoft.AspNetCore.Components.Web;

@inherits Component

@ChildContent

@code {

    public string? Text { get; set; }
        
    [Parameter]
    public override RenderFragment ChildContent
    {
        get
        {
            return 
                @<div type=@ElementType
                      style=@AllStyles
                      class=@AllClasses
                      onmousedown=@OnMouseDown
                      onmouseup=@OnMouseUp>
                      @Text
                </div>;
        }
        set { }
    }

    public Action<MouseEventArgs> OnMouseDown = _ => { };
    public Action<MouseEventArgs> OnMouseUp = _ => { };
}
