<p class="text-warning text-center"><span class="oi oi-warning" /> you are agreeing to cookie use by being here</p>
<p class="text-success text-center"><span class="oi oi-check"></span> we don't share personal data</p>

@code {

}
