<div class="card text-center bg-primary text-white" style="width: auto">
    <div class="card-body">
        <p class="card-text">Copyright © @DateTime.Now.Year balasolu | All Rights Reserved</p>
        <p class="card-text">Engineered with ❤ in Ocala, Florida by:</p>
        <p class="card-text"><a href="https://balasolu.com" class="btn btn-secondary"><strong>balasolu</strong></a></p>
    </div>
</div>

@code {

}
