<div class="card" style="width: auto">
    <div class="card-header bg-white">
        <h3 class="card-title text-center"><strong>post an item</strong></h3>
    </div>
    <div class="card-body">
        <ItemBuilderFT UserId="@UserId" />
    </div>
</div>

@code {
    [Parameter]
    public string? UserId { get; set; }
}

