<div class="card" style="width: auto">
    <div class="card-header bg-white">
        <div class="container-fluid">
            <div class="d-flex flex-column flex-wrap justify-content-center align-content-center">
                <p class="text-danger text-center p-1 m-1">🤦‍♂ this element is not yet functional. sorry.</p>
                <div class="d-flex flex-row flex-wrap justify-content-center align-content-center">
                    <input class="p-1 m-1" type="text" placeholder="search for items..." style="width: auto"/>
                    <button class="btn btn-primary p-1 m-1" type="button">search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="d-flex flex-column flex-wrap justify-content-center align-content-center">
                <p class="text-danger text-center p-1 m-1">🤦‍♂ this element is not yet functional. sorry.</p>
                <div class="d-flex flex-row flex-wrap justify-content-center align-content-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">item ft</th>
                                <th scope="col">item iso</th>
                                <th scope="col">discord</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var post in GetMostRecentPosts())
                            {
                                <tr>
                                    <td>@post.ItemFT!.Name</td>
                                    <td>@post.ItemISO!.Name</td>
                                    <td>@((DiscordAccount)post.User!.Account!).Username)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    IEnumerable<Post> GetMostRecentPosts()
    {
        return default!;
    }
}
