<div class="d-flex flex-column w-100" style="background-color: lightgray;">
    <div class="d-flex justify-content-center mt-1 pt-1">
        <img src="https://avatars.githubusercontent.com/u/1919812?v=4" class="rounded-circle" style="max-height: 75px; max-width: 75px; object-fit: contain;" />
    </div>
    <div class="d-flex justify-content-center">
        <p>copyright &copy; @DateTime.Now.Year | all rights reserved</p>
    </div>
    <div class="d-flex justify-content-center">
        <p>made with <a class="text-decoration-none" href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">❤</a> by <a href="https://github.com/confessore"><span class="badge rounded-pill bg-dark">steven confessore</span></a></p>
    </div>
    <div class="d-flex justify-content-center mb-1 pb-1">
        <a href="https://balasolu.com" class="btn btn-secondary m-1"><strong>balasolu | dreams realized</strong></a>
    </div>
</div>