<div class="d-flex flex-wrap justify-content-center">
    <div class="d-flex flex-column m-1">
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column">
                <label class="form-label">booth name</label>
                <input type="text" class="form-control" @onchange="OnNameChanged" />
                <div class="form-text">32 characters max</div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column">
                <label class="form-label">booth description</label>
                <input type="text" class="form-control" @onchange="OnDescriptionChanged" />
                <div class="form-text">128 characters max</div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <label class="form-label">image source</label>
            <input type="text" class="form-control" @onchange="OnImageSourceChanged" />
            <div id="emailHelp" class="form-text">should be a http url</div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary" @onclick="OnClicked">submit</button>
</div>
