@page "/booth/{id?}"

<h3>Booth</h3>

@Id

@code {
    [Parameter]
    public string? Id { get; set; }

    Model model = new();

    class Model
    {
        public string? Id { get; set; }
    }
}
